<div class="container py-5">
  <div class="row d-flex justify-content-around align-items-start pb-5">
    <h1>
      <span>你想對誰說幹話？</span>
    </h1>
  </div>

  <form method="post" action="/">
    <div class="row card-deck">
      <div class="card form-group">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
          class="card-img-top img-fluid" alt="angry-developer">
        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="custom-control custom-radio">
            <input type="radio" id="engineer" name="target" class="custom-control-input" value="engineer">
            <label class="custom-control-label" for="engineer">
              <h5 class="card-title">工程師 <i class="fas fa-laptop-code"></i></h5>
            </label>
          </div>
        </div>
      </div>

      <div class="card form-group">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
          class="card-img-top img-fluid" alt="angry-designer">
        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="custom-control custom-radio">
            <input type="radio" id="designer" name="target" class="custom-control-input" value="designer">
            <label class="custom-control-label" for="designer">
              <h5 class="card-title">設計師 <i class="far fa-image"></i></h5>
            </label>
          </div>
        </div>
      </div>

      <div class="card form-group">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
          class="card-img-top img-fluid" alt="angry-founder">
        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="custom-control custom-radio">
            <input type="radio" id="entrepreneur" name="target" class="custom-control-input" value="entrepreneur">
            <label class="custom-control-label" for="entrepreneur">
              <h5 class="card-title">創業家 <i class="fas fa-briefcase"></i></h5>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-around align-items-start">
      <button class="btn btn-dark btn-lg col-3" type="submit">產 生 幹 話</button>
      <div class="card col-8">
        <div class="card-body d-flex justify-content-around align-items-center">
          <h4>
            {{#if drytalk}}
            {{drytalk}}
            {{/if}}
          </h4>
        </div>
      </div>
    </div>
  </form>
</div>